server:
  port: 8080

jwt:
  secret: my_jwt_secret
  access-token-expiration: 600000      # 10 минут
  refresh-token-expiration: 604800000  # 7 дней (в мс)

app:
  encryption:
    secret-key: my_encryption_secret

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/my_db
    username: my_db_name
    password: my_db_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml